.chef-container {
    background:
        radial-gradient(ellipse at center, rgba(0, 0, 0, 0.8), transparent 80%),
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/chefbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;

    padding-top: 40px;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 100vh;
}

.chef-header {
    text-align: center;
    margin-bottom: 40px;
}

.chef-header h3 {
    color: #f5af19;
    font-size: 18px;
    margin-bottom: 5px;
}

.chef-header h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.chef-header p {
    color: #ccc;
    max-width: 700px;
    margin: auto;
    font-size: 16px;

}

.chef-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 18px;
}

.chef-card {
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.03), transparent 80%);

}

.chef-card:hover {
    transform: scale(1.05);
}

.chef-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.chef-card h3 {
    margin-top: 10px;
    font-size: 18px;
}

.chef-card p {
    color: #aaa;
    font-size: 14px;
}

.chef-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;


}

@media (min-width: 768px) {
    .chef-detail {
        flex-direction: row;
    }
}

.chef-detail img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.detail-info {
    flex: 1;
}

.detail-info h2 {
    color: #f5af19;
    font-size: 20px;
    margin-bottom: 5px;
}

.detail-info h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.detail-info p {
    color: #ccc;
    margin-bottom: 10px;
}

.detail-info ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #aaa;
}

.signature {
    margin-top: 20px;
    font-style: italic;
    color: #fff;
}