body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #F5E6CC;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('/images/update.jpg') no-repeat center center/cover;

  color: #fff;
  z-index: 0;
  animation: scaleFade 20s ease-in-out infinite;
  z-index: -1;
}

.history-container {

  padding: 50px 20px;
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  color: #F5E6CC;
  background: rgba(26, 60, 52, 0.7);
  border-radius: 15px;
  border: 1px solid rgba(212, 175, 55, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.history-label {
  font-size: 14px;
  color: #D4AF37;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.2s;
}

.history-heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #F5E6CC;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.4s;
}

.divider {
  width: 60px;
  margin: 15px auto;
  height: 2px;
  background: #D4AF37;
  border: none;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.6s;
}

.subheading {
  font-size: 16px;
  color: #F5E6CC;
  line-height: 1.6;
  margin: 0 auto 20px;
  font-weight: 400;
  max-width: 500px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.8s;
}

.description {
  font-size: 14px;
  color: #F5E6CC;
  line-height: 1.6;
  margin: 0 auto 30px;
  font-weight: 300;
  max-width: 500px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}



.about-button {
  background: #D4AF37;
  color: #1A3C34;
  width: 20%;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.2s;
}

.about-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(212, 175, 55, 0.5);
}

.about-button:active {
  background: #F5E6CC;
  color: #1A3C34;
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(245, 230, 204, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}